<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>13</string>
					<key>EndingLineNumber</key>
					<string>63</string>
					<key>StartingColumnNumber</key>
					<string>13</string>
					<key>StartingLineNumber</key>
					<string>63</string>
					<key>Timestamp</key>
					<string>750177922.677714</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>gr-test/CustomWindow.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>        }
        
        super</string>
				<key>trailing</key>
				<string>.sendEvent(event)
    }
}
</string>
			</dict>
			<key>title</key>
			<string>Window will dispatch Touch to Gesture Recognizer. Check Callstack in touchesBegan(touches: with:)</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>30</string>
					<key>EndingLineNumber</key>
					<string>32</string>
					<key>StartingColumnNumber</key>
					<string>30</string>
					<key>StartingLineNumber</key>
					<string>32</string>
					<key>Timestamp</key>
					<string>750178672.699031</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>gr-test/CustomApplication.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    
    override func sendEvent(_ event: UIEvent) {
        super.sendEvent(event)</string>
				<key>trailing</key>
				<string>
    }
}
</string>
			</dict>
			<key>title</key>
			<string>UIEvent entry point. Next will be CustomWindow.sendEvent()</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>41</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>40</string>
					<key>Timestamp</key>
					<string>750180595.931548</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>gr-test/UIViewWithRecognizer.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            return super.gestureRecognizers
</string>
				<key>leading</key>
				<string>            //Getting called after user touches,
            //to determine if View has any Gesture Recognizer
</string>
				<key>trailing</key>
				<string>        }
        set {
            if let gestureRecognizers = newValue {
</string>
			</dict>
			<key>title</key>
			<string>Check Callstack after touch. UIKit collects all GRs in Responder Chain.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>21</string>
					<key>EndingLineNumber</key>
					<string>31</string>
					<key>StartingColumnNumber</key>
					<string>21</string>
					<key>StartingLineNumber</key>
					<string>31</string>
					<key>Timestamp</key>
					<string>750180376.362813</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>gr-test/CustomGestureRecognizer.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    
    override func shouldReceive(_ event: UIEvent) -&gt; Bool {
        super.shouldR</string>
				<key>trailing</key>
				<string>eceive(event)
    }
    
</string>
			</dict>
			<key>title</key>
			<string>Check Callstack. After collection, GRs going to be notified about upcomming Event</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
